@import "../../variables.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  height: $top-nav-height;
  border-bottom: 1px solid $border-color;
}

.icon {
  height: 3em;
  width: 3em;
}